pipeline/A Read all tables data with schema.json
{
	"name": "A Read all tables data with schema",
	"properties": {
		"activities": [
			{
				"name": "GetAllTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME \nFROM INFORMATION_SCHEMA.TABLES \nWHERE TABLE_TYPE = 'BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSqlDatabase",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IfHasTables",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetAllTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('GetAllTables').output.value), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "No Table to Export",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "\"Table list is empty. Check source database.\"",
								"errorCode": "404"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Child_ExportAllTables Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "B Export All tables to Blob",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"tableList": {
										"value": "@activity('GetAllTables').output.value",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Azure SQL to CSV Transformation"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-16T17:18:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}