pipeline/B Export All tables to Blob.json
{
	"name": "Export All tables to Blob",
	"properties": {
		"activities": [
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tableList",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ExportTableToCSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_AzureSQLWithParam",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"schemaName": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Blob_StorageWithParam",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"schemaName": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Execute CopyCsvToOnPremDb",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEachTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Import blob files to On-Prem DB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"tableList": {
				"type": "array"
			}
		},
		"folder": {
			"name": "Azure SQL to CSV Transformation"
		},
		"annotations": []
	}
}